
/*Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.text-container .text-row .text-top {
		font-size: 4vw;
	}
	.text-container .text-row .text-bot {
		font-size: 2vw;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.text-right-to-center {
		text-align: right;
	}
	.text-left-to-center {
		text-align: left;
	}
	.text-right-to-left {
		text-align: right;
	}
	.text-left-to-right {
		text-align: left;
	}
	.choose-table-row {
		padding-bottom: 24px;
	}
	.text-container .text-row .text-top {
		font-size: 4vw;
	}
	.text-container .text-row .text-bot {
		font-size: 1.6vw;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.choose-table-row {
		padding-bottom: 42px;
	}
	.text-container .text-row .text-top {
		font-size: 3.2vw;
	}
	.text-container .text-row .text-bot {
		font-size: 1.2vw;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.choose-table-row {
		padding-bottom: 80px;
	}
	.text-container .text-row .text-top {
		font-size: 3vw;
	}
	.text-container .text-row .text-bot {
		font-size: 1vw;
	}
}