{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="">
	<title>Login</title>
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'BlogApp/assets/css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'BlogApp/assets/css/icofont.css' %}">

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'BlogApp/assets/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'BlogApp/assets/css/animations.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'BlogApp/assets/css/bootstrap-social.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'BlogApp/assets/css/owl.carousel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'BlogApp/assets/css/owl.theme.default.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'BlogApp/assets/css/highcharts.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'BlogApp/assets/css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'BlogApp/assets/css/responsive.dataTables.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'BlogApp/assets/css/responsive.bootstrap4.min.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'BlogApp/assets/css/bootstrap-datepicker.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'BlogApp/assets/css/bootstrap-timepicker.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'BlogApp/assets/css/bootstrap-colorpicker.min.css'%}">

	<link rel="stylesheet" type="text/css" href="{% static 'BlogApp/assets/css/theme.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'BlogApp/assets/css/theme-query.css' %}">
	<!-- CSS Author Kuntal -->
	<link rel="stylesheet" type="text/css" href="{% static 'BlogApp/MyCSS/mystyletag.css' %}">

</head>

<body role="document">
	<!--Header Top-->

	<div class="alertsuccess" id="successmsg" style="display: none;">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		{{msg}}
	</div>


	{% if chk %}
	<script>
		document.getElementById('successmsg').style.display = 'block';
	</script>
	{% endif %}



	<div class="container-fluid bg-header-top">
		<div class="container pad10T pad10B">
			<div class="row">
				<div class="col-md-6 text-left-to-center pad5T pad5B">
					<span class="header-top-text">Kuntal's Blog</span>
				</div>
				<div class="col-md-6 text-right-to-center pad5T pad5B">
					<a href="" class="top-socila-icon">
						<img src="{% static 'BlogApp/assets/img/icon-social-fb.png' %}" width="32" height="32" alt="" />
					</a>
					<a href="" class="top-socila-icon">
						<img src="{% static 'BlogApp/assets/img/icon-social-tw.png' %}" width="32" height="32" alt="" />
					</a>
					<a href="" class="top-socila-icon">
						<img src="{% static 'BlogApp/assets/img/icon-social-gp.png' %}" width="32" height="32" alt="" />
					</a>
					<a href="" class="top-socila-icon">
						<img src="{% static 'BlogApp/assets/img/icon-social-in.png' %}" width="32" height="32" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Navbar Start -->
	<div class="container pad0L pad0R">
		<nav class="navbar navbar-expand-lg bg-white navbar-light pad20T pad20B">
			<a class="navbar-brand" href="">
				<img src="" width="222" alt="" class="img-fluid" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
				aria-controls="navbar" aria-expanded="false">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbar">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item mrg5A active">
						<a class="nav-link" href="{% url 'home' %}">Home</a>
					</li>
					<li class="nav-item mrg5A">
						<a class="nav-link" href="{% url 'singup' %}">Register</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>

	<!--Registration Section-->
	<div class="container-fluid pad40T pad40B">
		<div class="container">
			<div class="row justify-content-center">
				<div class=" col-lg-8 col-md-10 col-sm-12">
					<div class="signup-form">
						<form method="post" action="{% url 'login' %}">
							{% csrf_token %}
							<h2>
								<span>Login</span>
							</h2>
							<div class="form-group">
								<div class="alertforemail" id="errormsgusrname" style="display: none;">
									<span class="closebtn"
										onclick="this.parentElement.style.display='none';">&times;</span>
									Username Not Available
								</div>
								<input name="bloguser" id="bloguser" type="text" class="form-control"
									required="required" placeholder="Username">
							</div>
							<div class="form-group">
								<input name="pswd" id="pswd" type="password" class="form-control" placeholder="Password"
									required="required">
							</div>
							<div class="form-group">
								<button id="s_data" type="submit"
									class="btn btn-navbar-brown pad40L pad40R">Login</button>
							</div>
						</form>
						<div class="text-center">If you don`t have an account? <a href="{% url 'singup' %}">Sign up</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Footer top-->
	

	<!--Footer Bottom-->
	<div class="container-fluid bg-footer-bot">
		<div class="row">
			<div class="col">
				<div class="footer-bot-text">
					<a href="javascript:">@copyright 2020</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script src="{% static 'BlogApp/assets/js/jquery-3.3.1.js' %}"></script>
	<script src="{% static 'BlogApp/assets/js/bootstrap.bundle.js' %}"></script>
	<script src="{% static 'BlogApp/assets/js/css3-animate-it.js' %}"></script>
	<script src="{% static 'BlogApp/assets/js/jquery.input-mask.min.js' %}"></script>
	<script src="{% static 'BlogApp/assets/js/owl.carousel2-2.3.4.js' %}"></script>
	<script src="{% static 'BlogApp/assets/js/owl.carousel2.thumbs.js' %}"></script>
	<script src="{% static 'BlogApp/assets/js/highcharts.js' %}"></script>
	<script src="{% static 'BlogApp/assets/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'BlogApp/assets/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'BlogApp/assets/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'BlogApp/assets/js/responsive.bootstrap4.min.js' %}"></script>
	<script src="{% static 'BlogApp/assets/js/jquery.raty-fa.js' %}"></script>

	<script src="{% static 'BlogApp/assets/js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'BlogApp/assets/js/bootstrap-timepicker.min.js' %}"></script>
	<script src="{% static 'BlogApp/assets/js/bootstrap-colorpicker.min.js' %}"></script>

	<script src="{% static 'BlogApp/assets/js/bootstrap-multiselect.js' %}"></script>
	<script src="{% static 'BlogApp/assets/js/theme.js' %}"></script>

	<!-- JS Added by Kuntal -->
	<script>
		function UserNameCheck() {
			$.ajax({
				type: "GET",
				contentType: "application/json; charset=utf-8",
				url: '{% url "checkusername" %}',
				async: true,
				data: {
					usrname: $('#bloguser').val()
				},
				success: function (response) {
					let is_taken = response['is_taken'];
					if (is_taken) {
						document.getElementById('errormsgusrname').style.display = 'none';
						$('#s_data').attr("disabled", false);
					}
					else {
						document.getElementById('errormsgusrname').style.display = 'block';
						$('#s_data').attr("disabled", true);
					}
				},
				error: function () {
					notify('Something went wrong');
				}
			});
		}
	</script>

	<script>
		$(document).ready(function () {
			$('#bloguser').change(function () {
				UserNameCheck();
			});
		});
	</script>

</body>

</html>