/* Kuntal Added CSS For Alert */

.alerterror {
	  padding: 20px;
	  background-color: #f44336;
	  color: white;
	}

.closebtn {
	  margin-left: 15px;
	  color: white;
	  font-weight: bold;
	  float: right;
	  font-size: 22px;
	  line-height: 20px;
	  cursor: pointer;
	  transition: 0.3s;
	}
	
.closebtn:hover {
	  color: black;
	}

.alertsuccess {
      padding-left: 40px;
	  padding-top: 10px;
	  background-color: green;
	  color: white;
	  height: 45px;
	}

.alertforemail {
	padding-left: 250px;
	background-color:  #f44336;
	color: white;
}